    <div class="container mt-5">
    <!-- Voortgangsbalk -->
        <div class="d-flex justify-content-center align-items-center mb-4">
            <div class="step text-center">
                <div class="circle bg-primary text-white">1</div>
                <small>pick a date</small>
            </div>
            <div class="line flex-grow-1 bg-secondary mb-4"></div>
            <div class="step text-center">
                <div class="circle bg-secondary text-white">2</div>
                <small>Select animal</small>
            </div>
            <div class="line flex-grow-1 bg-secondary mb-4"></div>
            <div class="step text-center">
                <div class="circle bg-secondary text-white">3</div>
                <small>Confirm booking</small>
            </div>
        </div>

        <!-- Formulier voor Stap 1 -->
        <div class="w-50 mx-auto">
            <h2 class="text-center">Stap 1: pick a date</h2>
            <form method="post" asp-action="SaveDate">
                <div class="form-group text-center">
                    <label for="date">Datum:</label>
                    <input type="date" class="form-control w-auto d-inline-block mb-2" id="date" name="EventDate" required>
                </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
</div>